{% extends 'send/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Пользователи</h1>
</div>
{% endif %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% if user.is_superuser %}
            {% for u in users %}
            {% if not u.is_superuser %}
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  {% if u.groups.get.name == 'manager' %}
                  <p class="card-text">{{ u.email }} - manager</p>
                  {% else %}
                  <p class="card-text">{{ u.email }}</p>
                  {% endif %}
                  <div class="d-flex justify-content-between align-items-center">
                    {% if u.is_active %}
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" href="{% url 'users:user_update' u.pk %}" role="button">Заблокировать</a>
                    </div>
                    {% else %}
                      <a class="btn btn-sm btn-warning" href="{% url 'users:user_update' u.pk %}" role="button">Разблокировать</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            {% for u in users %}
            {% if not u.is_superuser %}
            {% if u.groups.get.name != 'manager' %}
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <p class="card-text">{{ u.email }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    {% if u.is_active %}
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" href="{% url 'users:user_update' u.pk %}" role="button">Заблокировать</a>
                    </div>
                    {% else %}
                      <a class="btn btn-sm btn-outline-secondary" href="{% url 'users:user_update' u.pk %}" role="button">Разблокировать</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
  </div>
</div>
{% endblock %}
