{% extends 'send/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Статистика рассылок</h1>
</div>
<div class="alert alert-primary text-center" role="alert">
    Всего - {{ newsletters | length }}
</div>
<div class="alert alert-primary text-center" role="alert">
    Запущено - {{ newsletters_launched | length }}
</div>
<div class="alert alert-primary text-center" role="alert">
    Количество уникальных получателей - {{ recipients | length }}
</div>
{% else %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Сервис управления рассылками, администрирования и получения статистики</h1>
</div>
{% endif %}
{% endblock %}
