<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <span class="fs-4">SENDER</span>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    {% if user.is_authenticated %}
    <span class="me-3 py-2 text-decoration-none">Привет, {{ user.email }}!</span>
    <a class="btn btn-outline-primary py-2 link-body-emphasis text-decoration-none" href="{% url 'users:logout' %}">Выход</a>
    {% else %}
    <span class="me-3 py-2 text-decoration-none">Добро пожаловать!</span>
    <a class="btn btn-outline-primary me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'users:login' %}">Вход</a>
    <a class="btn btn-outline-primary me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'users:register' %}">Регистрация</a>
    {% endif %}
    </nav>
</div>
<div class="d-flex flex-column align-items-center pb-3 mb-4">
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                {% if user.groups.get.name != 'manager' %}
                <a class="nav-link" href="{% url 'send:main' %}">Главная</a>
                {% endif %}
                <a class="nav-link" href="{% url 'send:recipient_list' %}">Получатели</a>
                <a class="nav-link" href="{% url 'send:message_list' %}">Сообщения</a>
                <a class="nav-link" href="{% url 'send:newsletter_list' %}">Рассылки</a>
                <a class="nav-link" href="#">Попытки рассылок</a>
                {% if user.groups.get.name == 'manager' or user.is_superuser %}
                <a class="nav-link" href="{% url 'users:user_list' %}">Пользователи</a>
                {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% endif %}
</div>

