<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">SENDER</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Добро пожаловать!</a>
        <a class="btn btn-outline-primary me-3 py-2 link-body-emphasis text-decoration-none" href="#">Вход</a>
        <a class="btn btn-outline-primary me-3 py-2 link-body-emphasis text-decoration-none" href="#">Регистрация</a>
<!--        <a class="btn btn-outline-primary py-2 link-body-emphasis text-decoration-none" href="#">Выход</a>-->
      </nav>

    </div>
